*{
    background-color: crimson;
}
    .pa1{
        background-color: blue;
    }
    .pa2{
        background-color: darkgreen;
    }
.dev3{
    background-color: darkorange;
    height: 100px;
    width: 100px;
}